{
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "prettier",
    "airbnb-typescript/base",
    "plugin:prettier/recommended",
    "plugin:node/recommended"
  ],
  "plugins": ["prettier", "node", "@typescript-eslint"],
  "env": {
    "node": true,
    "es6": true,
    "commonjs": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module", // import 사용
    "project": "./tsconfig.json"
  },
  "rules": {
    "prettier/prettier": ["error", { "endOfLine": "auto" }]
  }
}
